<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курс</title>
</head>
<body>
<a href="/lessons">Ко всем урокам</a>
<form action="/lessons/${lesson.id}/update" method="post">
    <label>
        Название курса
        <input type="text" name="name" value=${lesson.name}>
    </label>
    <br>
    <label>
        Описание
        <input type="text" name="summary" value=${lesson.summary}>
    </label>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>